---

console.log("test");

const body = {
  method: "GET",
};

const response = await fetch(
  import.meta.env.API + "/blogs?",
  body,
);
const contents = await response.json();
console.log(contents);
---


	<h1>Test</h1>


